@import url('//fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
    text-align: center;
    margin: auto;
    text-align: justify;
    padding:100px;
    line-height: 0.7cm;
    font:bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}


.center {
  border: 0px solid;
  margin: auto;
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.body_new {
    background-color: #e8e5da;
    text-align: center;
    margin: auto;
    text-align: justify;
    padding:100px;
    line-height: 0.7cm;
    font:bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

}

.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 0px black;
}

.imagelogo{
    margin: auto;
    display: block;
    width: auto;
    height: auto;
}
.imagevideo{
  margin: auto;
  display: block;
  width: auto;
  height: auto;
}
.image{
  margin: auto;
  display: block;
  width: auto;
  height: auto;
}
h1{
    color: #1A3A3A;
    margin-right: 100px;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;


    padding: auto;
}
.image2{
    margin: right;
    display: block;
    padding: 10px;

}
.text2{
    text-align:justify;
    margin-left: 50px;
    margin-right: 0%;
    margin-top: 0%;

    padding:auto;
    line-height: 0.8cm;
    font:bold;
    font-family: "Montserrat";


}

.table{
    margin: auto;
    padding: auto;
}

.social{

  padding: 25px 50px;
  text-align: center;
  color: #1A3A3A;
  text-align: center;
  margin: auto;




}
  .afacebook {
    color:#4267B2;
    padding: auto;
  }

  .ainstagram {
    color:#833AB4;
    padding: auto;
  }


  header[role="banner"] {
    #logo-main {
      display: block;
      margin: 20px auto;
    }
  }

  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav {
      width: 100%;
      text-align: center;
      > li {
        display: inline-block;
        float: none;
        > a {
          padding-left: 30px;
          padding-right: 30px;
          }
      }
    }
  }
