@import url('//fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');


:root {
  --primary-color: #e8e5da;
  --text-color: #000000;
  --header-color: #1A3A3A;
  --dark-color: #1A3A3A;
}


a {
  text-decoration: none;
}

.footer-section {
  padding-top: 10px;
  position: relative;
  overflow:auto;
}



.container-footer {
  margin-right: auto;
  margin-left:auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}




.footer {
  /* padding-top:100px; */
  animation: slideInFromBottom 1s ease-in;
}

.footer-heading {
  max-width:100px;
  margin:auto;
}



.footer .social a {
  margin: 0 10px;
}





.container-footer:before,
.container-footer:after {
    content: "";
    display: table;
}

.container-footer:after {
    clear: both;
}

.text_secondary {
  font-size: 16px;
}



@media(max-width: 500px){

  .element {
    white-space: nowrap;
    margin: 0 auto;

  }

}

/*
  .container {
    width: 750px;
  }

  .container-images {
    width: 300px;
  }



  .showcase {
    height: 500px;
  }

  .text-description {
    width:40%;
    text-align: left;
  } */

  /* .h1_new {
    font-size: 25px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  } */


/*
  .item {
    padding:3px;
    line-height: 2;
    /* margin-left: 10px;
    margin-right: 20px; */
    /* justify-content: space-around; */
  /* } */

  /* .bio{
    text-align: justify;
  } */


  /* .showcase .h1_new {
      color: var(--header-color);
      margin-right: 100px;
      font-family: "League Spartan", sans-serif;
      font-weight: bold;
      font-size:6vw;
      white-space: nowrap;

  }

  .showcase p {
    margin: 0px 10px;
    color: var(--text-color);
    line-height: 0.8cm;
    text-align: justify;
    font-size: 16px;
    margin-block: 0% 3%;
} */
